[user]
    name       = d.vakatsiienko
    email      = d.vakatsiienko@lectrum.io
    signingkey = B147F8989BA189C3 # gl
    signingkey = 794D2C4D9AD75B2A # gh

[alias]
    q            = ! git commit -a -m \"quick fix\" && git push
    lg1          = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
    lg2          = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
    lg           = !"git lg1"
    la           = "!git config -l | grep alias | cut -c 7-"

[core]
    excludesfile = ~/.gitignore_global
    editor       = vim

[credential]
    helper = osxkeychain

[commit]
    gpgsign = true
