//localhost:4873/:_authToken=PZafV/KXoRa2CFWgSZ/9hHftam5mtd5ilP/V5pXAh0MSenPlH04VDKurWK46hXZA
//registry.npmjs.org/:_authToken=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
/Users/furthur/.pnpm-global-store=
depth=0
init-author-email=imagnum.satellite@gmail.com
init-author-name=Dima Vakatsiienko
init-license=MIT
init-version=0.0.0
save-prefix=
store-dir=/Users/furthur/.pnpm-store
