save-prefix=""
depth=0
init-version="0.0.0"
init-author-name="Dima Vakatsiienko"
init-author-email="imagnum.satellite@gmail.com"
init-license="MIT"
//registry.npmjs.org/:_authToken=7968af8c-4223-4cb9-a288-bfaf27440105
prefix=/Users/furthur/.nvm/versions/node/v10.15.0
