save-prefix=
depth=0
init-version=0.0.0
init-author-name=Dima Vakatsiienko
init-author-email=imagnum.satellite@gmail.com
init-license=MIT
//registry.npmjs.org/:_authToken=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
//localhost:4873/:_authToken=PZafV/KXoRa2CFWgSZ/9hHftam5mtd5ilP/V5pXAh0MSenPlH04VDKurWK46hXZA
