[user]
    name = Dima Vakatsiienko
    email = imagnum.satellite@gmail.com
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILnChnk8JuZUBynotPPornPGEoRPZcOtK9srvd5QP91M

[core]
    editor        = vim
    autocrlf      = input
	pager = less -FRX

[gpg]
    format = ssh

[gpg "ssh"]
    program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
    allowedSignersFile = /Users/furthur/.ssh/allowed_signers

[commit]
    gpgsign = true
	template = /Users/dima/.dotfiles/.gitmessage
	status = false
	verbose = false

[push]
    autoSetupRemote = true

[alias]
	# Pretty-print git log in graph mode
    lg = "log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all"
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[pager]
	log = false
[coderabbit]
	machineId = cli/95824464dd714d25a8c79a117fe70a14
